.navbar-header, .navbar-nav{
    padding:5px;
    font-size:18px;
}

.navbar-brand{
    
    font-size: 22px;
}

.navbar{
    
    margin-bottom: 0;
    border-radius: 0;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
    color: #2c3e50 !important;
    background-color: #fff !important;
}

.jumbotron{
    background-color: white;
    color:white;
    padding: 7% 30px;
    margin:0px 0px 0px 0px;
    background-image:url("Images/background5.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size:cover;  
}

#nametag{
    
    width:650px;
    padding: 10px 0px;
    margin:0 auto;
    border-bottom:10px solid white;
}

#exp{
    padding:0px 0px;
    padding-bottom: 0px;
    background-image:url("Images/backgroundx.jpg");
    background-repeat: no-repeat;
    background-size:cover;  
}
#projects{
    padding:0px 0px;
    margin-bottom: 10px;
    background-image:url("Images/backgroundx3.jpg");
    background-repeat: no-repeat;
    background-size:cover;  
}

.containerbox{
    border-spacing: 23px;
    text-align: center;
}

.row{
    display: -ms-flexbox; /* IE10 */
     display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    padding-left: auto;
}
.workcolumn{
    -ms-flex: 25%; /* IE10 */
    flex: 30%;
    max-width: 32%;
    padding: 0 4px;
    position: relative;
}

#socials img{
    max-width: 10%;
    padding: 0 4px;
}

#socials{
    margin-left: 44.5%;
    margin-bottom: 20px;
    margin-top: 20px;
}


.rowcenter{
    margin-left: auto;
    margin-right: auto;
}

.workcolumn img{
    margin-top: 10px;
    vertical-align: middle;
    width: 70%;
    border-radius: 10%;
    box-shadow: 0px 0px 10px black;
}

#Experience{
    font-size: 50px;
    color:black;
    font-weight: bold;
    padding-bottom: 5%;
}

#Experience2{
    font-size: 50px;
    color:black;
    font-weight: bold;
    padding-bottom: 5%;
}

.positionwork{
    font-weight: bold;
    font-size: 25px;
    margin:0;
    margin-top: 20px;
}
.positionworkbuddy{
    font-size: 17px;
    margin: 0;
}
.positionworkbuddyend{
    font-size: 15px;
    margin: 0;
    margin-bottom:30px;
}

#rahulPhoto{
    height:400px;
    border-radius: 90%;
    box-shadow: 0px 0px 50px black;
    margin:  auto;
    
}

h3{
    text-align: center;
}


.workBio{
    font-size: 50px;
    padding: 20px;
    color:white;
}

#work{
    height:60px;
    background-color: white;
    color:white
}

.tagin{
    
    color:white;
}

.portFlo{
   padding-bottom: 70px; 
}

.btn{
    margin-top: 40px;
    background-color:#e74c3c;
    color:white;
    width:15em;
    font-size: 16px;
}

.colBlu{
    background-color: #2c3e50;
    color:white;  
}

a{
    color:inherit;
}


footer{
    padding:60px;
    text-align: center;
    background-color: #ecf0f1;
}

@media screen and (max-width: 1225 px) {
    
    #rahulPhoto{
        height:300px;
    }
    
    .workcolumn {
        -ms-flex: 100%;
        flex: 100%;
        max-width: 100%;
    }

}

@media screen and (max-width: 750px) {
    .col-sm-3 {
        text-align: center;
        margin: 25px 0;
    }
        
    #nametag {
        font-size: 90px;
        text-align: center;
        width: 94%;
        max-width: 400px;
        float: none;
        padding-top: 25px;
        padding-left: 0px;
        padding-right: 0px;
        margin: 0px auto;
        letter-spacing: -1px;
        
    }
    
    #Bio{
        
        font-size: 16px;
        padding: 10px;
    }

    #Hbio{
        
        font-size: 30px;
        padding-bottom:5px;
        padding-left: 10px;
    }

    #rahulPhoto{
        height:300px;
        margin: 0 auto;
    }
    
    .parallel{
        padding-top:50px;
        font-size: 40px;
    }
    

    .rowcenter{
        margin-left: auto;
        margin-right: auto;
    }

    #projects{
        padding:0px 0px;
        padding-bottom: 0px;
        background-image:url("Images/backgroundx3.jpg");
        background-repeat: no-repeat;
        background-size:cover;  
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .workcolumn {
      -ms-flex: 100%;
      flex: 100%;
      max-width: 100%;
    }
     
    #Experience2{
        font-size: 50px;
        color:black;
        font-weight: bold;
        padding-top: 15%;
        padding-bottom: 20%;
    }

    #exp{
        padding:0px 0px;
        padding-bottom: 0px;
        background-image:url("Images/backgroundx2.jpg");
        background-repeat: no-repeat;
        background-size:cover;  
    }

    #projects{
        padding:0px 0px;
        padding-bottom: 0px;
        background-image:url("Images/backgroundx3.jpg");
        background-repeat: no-repeat;
        background-size:cover;  
    }

    .containerbox{
        border-spacing: 0px;    
    }   

    #socials img{
        max-width: 50px;
        padding: 0 4px;
    }
    #socials{
        margin-top: 50px;
        margin-bottom: 30px;
        margin-left: 41.5%;
    }
  }

